
<div class="card bg-light text-dark">
	<div class="card-body">
	  <h5 class="card-category card-category-social text-info">
		<i class="material-icons">add_circle_outline</i> <b>Inclusion Criteria</b>
	  </h5>

    <p class="card-text">Relevant publications should include at least one criterion from the following list. Please see the <a href="/methods/"><b>Methods</b></a> for more information.</p>
    <ul>
      <li>Discussion of existential risk or global catastrophic risk <span class="italic">per se</span> (explicit, not implicit)</li>
      <li>Assessment of such a risk (e.g., the probability or impact of nuclear winter in the event of nuclear war)</li>
      <li>Discussion of a strategy for managing such a risk (e.g., strategic food reserves to mitigate the risk of human extinction from catastrophes that destroy crops)</li>
      <li>Comparison of these risks (e.g., the relative risk of human extinction from asteroid impact compared to artificial intelligence)</li>
      <li>Philosophical discussion that is relevant to these risks (e.g., the "value" of the future lives that would be saved by preventing the extinction of the human species)</li>
    </ul>
    <p class="card-text">Publications about artistic, fictional, or religious works should not be included.</p>
    <p class="card-text">Many publications will be irrelevant (an expected consequence of an inclusive search strategy), and we would not be surprised if you assessed most publications as irrelevant.</p>
    
	</div>
</div>

