{% autoescape off %}

Dear {{ user.first_name }},

Thank you for signing up to the Existential Risk Research Network. Please save this email as a record of the email address and username you selected when you signed up.

Username: {{ user.username }}
Email address: {{ user.email }}

Please click this link to confirm your email address:

<a href="http://{{ domain }}{% url 'confirm_email' uidb64=uid token=token %}">http://{{ domain }}{% url 'confirm_email' uidb64=uid token=token %}</a>

If the link does not work, copy and paste this address into your browser:

http://{{ domain }}{% url 'confirm_email' uidb64=uid token=token %}

Best wishes,
Gorm Shackelford
{{ domain }}

{% endautoescape %}
