*.pyc
*~
__pycache__
venv
env
db.sqlite3
.DS_Store
config.json
config.py
logs
Agreement.ipynb
Housing.ipynb
Classification_Tutorial.ipynb
Classification.ipynb
Bibliography.ipynb
Relevance.ipynb
search_scopus.ipynb
AssessmentOrder.ipynb
ml_notebook.ipynb
ml_notebook_svm.ipynb
ml_notebook_tensorflow_abstracts.ipynb
ml_notebook_tensorflow_final.ipynb
ml_notebook_tensorflow_titles.ipynb
log.ipynb
checkpoint
.ipynb_checkpoints/
imdb.pkl
/data
delete_all_publications.py
abstracts_to_csv.py
/xrisk/whoosh_index
secret.txt
/.vscode
