cython
scipy
numpy
nltk
pandas
RISparser
scikit-learn
tensorflow==1.13.1
protobuf==3.20.0
tensorflow-tensorboard
tflearn
html5lib
h5py
requests
markdown

# System built with Django 1
Django==1.11.28
django-haystack
django-debug-toolbar
django-widget-tweaks
django-el-pagination
Whoosh
# System built with wagtail 2 
# but wagtail 2.11.8 requires Django 2
wagtail==2.3
# Later version of wagtail menus breaks
wagtailmenus==3.0
wagtailcodeblock
wagtail-table-block

# Specific version required as newer versions break Django
mysqlclient==1.4.6

