{% extends "core/page.html" %}
{% load widget_tweaks %}

{% block title_head %}
Password reset
{% endblock %}

{% block title_body %}
Password reset
{% endblock %}

{% block body %}

    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}

    <form spellcheck="false" autocomplete="off" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">

            {% for field in form %}

                <div class="form-group bmd-form-group">
                    <label for="{{ field.id_for_label }}" class="bmd-label-floating">{{ field.label }}</label>
                    {% render_field field class="form-control" autocomplete="off" %}  
                </div>

            {% endfor %}

            <p><input type="submit" value="Reset password" class="btn col-lg-6 btn-danger btn-round" /> </p>

            </div>
        </div>

    </form>

{% endblock %}
