{% extends "core/page.html" %}
{% load widget_tweaks %}

{% block title_head %}
Confirm new password
{% endblock %}

{% block title_body %}
{% if validlink %}
Confirm new password
{% else %}
Password reset failed
{% endif %}
{% endblock %}

{% block body %}

    {% if validlink %}
        <p>Please enter (and confirm) your new password</p>
        <form spellcheck="false" autocomplete="off" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            {% if form.errors %}
            <div class="text-black text-left">        
                  There were the following errors on the form:
                  {{ form.new_password1.errors }}
                  {{ form.new_password2.errors }}
            </div>
          {% endif %}

            <div class="row">
                <div class="col-lg-6">
                    
                    <div class=" bmd-form-group">
                        <label for="{{ field.id_for_label }}" class="bmd-label-floating">New password</label>
                        {% render_field form.new_password1 class="form-control" autocomplete="off" %}  
                    </div>

                    <div class="form-group bmd-form-group">
                        <label for="{{ field.id_for_label }}" class="bmd-label-floating">Confirm password</label>
                        {% render_field form.new_password2 class="form-control" autocomplete="off" %}  
                    </div>

                    <input class="btn btn-round btn-info" type="submit" value="Change my password" />

                </div>
            </div>

        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
